<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

<form id='add_a_student' action="/new-student" >
    <p>Add A new student: </p>
    <label>Student's First Name:</label>
        <input type="text" name="first_name" id='f_name'><br>
    <label>Student's Last Name:</label>
        <input type='text' name='last_name' id='l_name'><br>
    <label>GitHub Handle:</label>
        <input type='text' name='github' id='l_name'><br>
    <input type="submit" value="Add Student">    
</form>

</form>
</body>
</html>